/*------------------------------------------------------------------

    Responsive Styles
    
-------------------------------------------------------------------*/

@import 'mixins';

/*-----------------  Desktops  -----------------*/
@media screen and (max-width: 895px){ 

    .wrapper-coming-soon{
        
        width: 100% !important; 
        float: left !important; 
      }
      .mega-text{
        font-family: $leaguegothic;
        text-transform: uppercase; 
        letter-spacing: 2px; 
        font-size: 65px !important; 
        text-align: center; 
        font-weight: 100;
      }
    
      .coming-soon-content-container{
        height: auto !important; 
        width: 100% !important; 
        float: left !important;
        display: block !important;
      }

      .coming-soon-text{ padding: 0 65px 65px 65px; }
    
      .coming-soon-logo-container{
        width: 100% !important; 
        float: left !important; 
        padding: 40px 0; 

        text-align: center; 

        img{
            margin: 0 auto; 
            height: 50vh !important; 
        }
      } 

        .menu-item-list-container{
            padding: 10px 10px 0 10px !important; 
        }

        .menu-header{
            padding: 5px 10px 5px 10px !important; 
        }

      // Nav
      .navigation-container{
      }
      .store-info-container{
        width: 77% !important;
        float: right;  
        padding-right: 20px; 
        padding-bottom: 20px; 

        .store-info-hours p{
          font-size: 16px !important;
        }
      }
      .nav-logo-container{
        width: 23% !important;

        .nav-logo-icon{
            
          margin: -5px 10px -20px 10px !important;
    
          img{
            @include transition;
            height: 60px !important; 
          }
        }
    
        .nav-logo-text{
            @include transition;
            opacity: 0 !important; 
            display: none;          
        }
      }

    .menu-wrapper{ 
        padding: 15px 10px !important; 
    }

    .specials-container{
      padding: 40px !important; 
    }

    .footer-store-information{
      p,a{
        font-size: 16px !important; 
      }
    }
        
}

/*-----------------  Smartphones  -----------------*/
@media (max-device-width: 895px) { 
 }
/* End Smartphones */






