/*------------------------------------------------------------------

    Responsive Styles
    
-------------------------------------------------------------------*/

@import 'mixins';

/*-----------------  Desktops  -----------------*/
@media screen and (max-width: 895px){ 

    .wrapper-coming-soon{
        width: 100% !important; 
        float: left !important; 
      }
      .mega-text{
        font-family: $leaguegothic;
        text-transform: uppercase; 
        letter-spacing: 2px; 
        font-size: 75px; 
        font-weight: 100;
      }
    
      .coming-soon-content-container{
        height: auto !important; 
        width: 100% !important; 
        float: left !important; 
      }

      .coming-soon-text{ padding: 0 65px 65px 65px; }
    
      .coming-soon-logo-container{
        width: 100% !important; 
        float: left !important; 
        padding: 40px 0; 

        text-align: center; 

        img{
            margin: 0 auto; 
            height: 50vh !important; 
        }
      } 
        
}

/*-----------------  Smartphones  -----------------*/
@media (max-device-width: 895px) { 

 }
/* End Smartphones */






